{{define "layout/header"}}
<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
    <script src='js/bootstrap.js' type='text/javascript'></script>
</head>
<body>
<div class="wrap">
    <nav id="w0" class="navbar-inverse navbar-fixed-top navbar">
        <div class="container">
            <div class="navbar-header">
                <span class="navbar-brand">My Application</span>
            </div>
            <div id="w0-collapse" class="collapse navbar-collapse">
                <ul id="w1" class="navbar-nav navbar-right nav">
                    <li><a href="/site/index">Home</a></li>
                    <li><a href="/site/index">Home</a></li>
                    <li><a href="/site/index">Home</a></li>
                    <li><a href="/site/index">Home</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
{{end}}}
